body{
  font-family: sans-serif;
  box-sizing: border-box;
}

.ListStaf{
  padding: 20px;
  display: flex;
  justify-content: space-between;

}
.LessonHeader{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px 40px;
  background: #FFF4D2;
}
.LessonHeader h1{
  margin: 0px;
  padding: 0px;
}
.wrap{
  padding: 10px 40px;
  box-sizing: border-box;
}


.StateLessContainer{
  padding: 20px 30px;
  border: 3px solid green;
  margin-bottom: 3px;
}

.StateLessContainer.error{
  border: 3px solid red;
}

.functionButton{
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 5px 20px;
  margin-right: 10px;
}
.functionButton:hover{
  background: #ffcc00;
}

.myChildrenComponent{
  padding: 20px 50px;
  background: #eee;
  margin-bottom: 20px;
}

.fullwidth{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  background: #55da5e;
}
